body {
    background-image: url("/assets/img/redgingham.gif");
    font-family: 'Indie Flower', cursive;
}

.panel-heading {
    background-color: midnightblue;
    border: solid 10px red;
    align-items: center;
    border-radius: 50px;
}
.gaucho-text {
    font-size: 150px;
    color: red;
    padding-bottom: 50px;
}
.panel-burgers{
    background-color: red;
    border: solid 10px midnightblue;
    align-items: center;
    border-radius: 30px;
}

.panel-body {
    font-size: 30px;
}
.images {
    height: 200px;
}
.patty{
    color: midnightblue;
    text-align: center;
}
.addBurger {
    border: solid 10px midnightblue;
    border-radius: 30px;

}
.addBurg {
    color: red;
}

.addBurg {
    color: red;
}
.addBurgText {
    color: midnightblue;
    font-size: 30px;
}

.create-form {
    color: white;
    font-size: 20px;
}

#myburger {
 width: 500px;

}
#smallBurger{
    height: 100px;
    padding: -10px;
}

/* .change-devoured {
    background-color: yellow;
    font-family: 'Indie Flower', cursive;
} */

.btn-image {
    margin: 0!important;;
    padding: 0!important;
    border: 0!important;
    box-shadow: none!important;
    background: #fff;
  }

  .addBurgbtn {
      background-color: red;
      color: midnightblue;
      font-family: 'Indie Flower', cursive;
      font-size: 20px;
  }