body {
    background-color: green;
}

#scrapeBtn {
    text-align: right;
    float:right;
}

.jumbotron {
    margin:50px;
    /* border-color: #000;
    background-color: #f6f6ef;
    border-style:solid;
    border-width: 2px; */
}